<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhangpeng.payment.core.mapper.PaymentProductMapper" >
  <resultMap id="BaseResultMap" type="PaymentProduct" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="audit_status" property="auditStatus" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="table_name">  blue_bird_pay_product </sql>
  
  <sql id="Base_Column_List" >
    id, create_time, edit_time, status, product_code, product_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blue_bird_pay_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blue_bird_pay_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true"   parameterType="PaymentProduct" >
    insert into blue_bird_pay_product (create_time, edit_time, status, product_code,
      product_name, audit_status)
    values (#{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP},
      #{status,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR},
      #{productName,jdbcType=VARCHAR}, #{auditStatus,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="PaymentProduct" >
    update blue_bird_pay_product
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      audit_status = #{auditStatus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<sql id="condition_sql">
		<if test="productCode != null and productCode != ''"> and product_code = #{productCode,jdbcType=VARCHAR}</if>
		<if test="productName != null and productName != ''">and product_name like CONCAT('%' ,CONCAT(#{productName},'%'))</if>
		<if test="status != null and status != ''"> and status = #{status,jdbcType=VARCHAR}</if>
		<if test="auditStatus != null and auditStatus != ''"> and audit_status = #{auditStatus,jdbcType=VARCHAR}</if>
	</sql>


	<select id="selectBy" parameterType="java.util.Map" resultMap="BaseResultMap">
		select * from
		<include refid="table_name" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>